@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&display=swap");

body {
  font-family: $text-content, sans-serif;
  font-weight: $regular;
}

.title,
.recipes-nb {
  font-family: $text-title, sans-serif;
}

.title {
  color: $secondary;
  font-size: 44px;
  text-align: center;
}

.recipes-nb {
  font-size: 21px;
  color: $tertiary;
}

.search-tag {
  font-size: 16px;
  font-weight: $medium;
}
